/*** General ***/
body
{
	background:#CDDCEC;
	font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size:small;
	margin:8px 0 16px;
	text-align:center;
}

#form_container
{
	background:#fff;
	margin:0 auto;
	text-align:left;
	width:800px;
}

#top
{
	display:block;
	height:10px;
	margin:10px auto 0;
	width:810px;
}

#langmap
{
	float:right;
	font-size:90%;
	margin:2px 2px 1em 2px;
}

#footer
{
	border-top:1px dotted #ccc;
	margin:1em 0 0;
	clear:both;
	text-align:center;
	font-size:90%;
	color:#555;
}

#footer span
{
	color:#182539;
	font-weight:bold;
}

#footer a
{
	color:#555;
	text-decoration:none;
	border-bottom:1px dotted #555;
}

#bottom
{
	display:block;
	height:10px;
	margin:0 auto;
	width:810px;
}

.appnitro
{
	margin:20px 20px 0;
	padding:0 0 20px;
}

.ticketid
{
	font-family:monospace;
	font-stretch:condensed;
}

/**** Logo Section  *****/
h1
{
	background-color:#4B75B3;
	margin:0;
	min-height:0;
	padding:0;
	text-decoration:none;
}

h1 img
{
	float:left;
	padding-right:0.5em;
}

h1 a
{
	display:block;
	height:100%;
	min-height:35px;
	overflow:hidden;
	color:#182539;
}


img
{
	behavior:url(iepngfix.htc);
	border:none;
}


/**** Form Section ****/
.appnitro li
{
	width:40%;
}

form ul
{
	font-size:100%;
	list-style-type:none;
	margin:0;
	padding:0;
	width:100%;
}

form li
{
	display:block;
	margin:0;
	padding:4px 5px 2px 9px;
	position:relative;
}

form li:after
{
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
}

form > table
{
	width:100%;
	padding:4px 0 2px 0;
}

form > table th
{
	text-align:left;
	border-bottom:1px dotted #ccc;
	white-space:nowrap;
}

form > table td + td,
form > table th + th
{
	border-left:1px dotted #ccc;
}

#advanced
{
	border:1px dotted #ccc;
	padding-top:0.6em;
	margin-top:-0.6em;
}

#toggler
{
	color:#555;
	background:#fff url(toggle-right.gif) no-repeat 0 50%;
	white-space:nowrap;
	padding:0 10px 0 10px;
}

#toggler.active
{
	background:#fff url(toggle-down.gif) no-repeat 0 50%;
}

.buttons:after
{
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
}

.buttons
{
	clear:both;
	display:block;
	margin-top:10px;
	width:100% !important;
}

* html form li
{
	height:1%;
}

* html .buttons
{
	height:1%;
}

* html form li div
{
	display:inline-block;
}

form li div
{
	color:#444;
	margin:0 4px 0 0;
	padding:0 0 8px;
	white-space:nowrap;
}

.clear
{
	clear:both;
}

.form_description
{
	border-bottom:1px dotted #ccc;
	line-height:1em;
	clear:both;
	display:inline-block;
	display:block;
	margin:0 0 1em;
}

.form_description h2
{
	clear:left;
	font-size:160%;
	font-weight:400;
	margin:0 0 3px;
}

form ul li.first
{
	border-top:none !important;
	margin-top:0 !important;
	padding-top:0 !important;
}

/**** Inputs and Labels ****/
label.description
{
	border:none;
	color:#444;
	display:block;
	font-size:95%;
	font-weight:700;
	line-height:150%;
	padding:0 0 1px;
	white-space:nowrap;
}

input.text
{
	background:#fff url(shadow.gif) repeat-x top;
	border-bottom:1px solid #ddd;
	border-left:1px solid #c3c3c3;
	border-right:1px solid #c3c3c3;
	border-top:1px solid #7c7c7c;
	color:#333;
	font-size:100%;
	margin:0;
	padding:2px 0;
	width:99%;
}

input.file, input.button
{
	color:#333;
	font-size:100%;
	margin:0;
	padding:2px 0;
}

textarea.textarea
{
	background:#fff url(shadow.gif) repeat-x top;
	border-bottom:1px solid #ddd;
	border-left:1px solid #c3c3c3;
	border-right:1px solid #c3c3c3;
	border-top:1px solid #7c7c7c;
	color:#333;
	font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size:100%;
	margin:0;
	padding:2px 0;
	width:99%;
	resize:vertical;
}

input.element.password
{
	width:65%;
}

input.button.password
{
	width:32%;
}

select.select
{
	color:#333;
	margin:1px 0;
	padding:1px 0 0;
	border-bottom:1px solid #ddd;
	border-left:1px solid #c3c3c3;
	border-right:1px solid #c3c3c3;
	border-top:1px solid #7c7c7c;
}

select.select[class]
{
	margin:0;
	padding:1px 0;
}

*:first-child+html select.select[class]
{
	margin:1px 0;
}

/**** Errors and messages ****/
.info_message
{
	border:1px dotted blue;
	margin-bottom:1em;
	padding:10px;
	color:blue;
	font-weight:bold;
}

.error_message
{
	border:1px dotted red;
	margin-bottom:1em;
	padding:10px;
	color:red;
	font-weight:bold;
}

form li.error
{
	background-color:#FFDFDF !important;
	border-bottom:1px solid #EACBCC;
	border-right:1px solid #EACBCC;
	margin:3px 0;
}

form li.error label
{
	color:#DF0000 !important;
}

form p.error
{
	clear:both;
	color:red;
	font-size:10px;
	font-weight:700;
	margin:0 0 5px;
}

form .required
{
	color:#000;
}

form .error
{
	color:red;
	font-weight:700;
}

/**** Guidelines and Error Highlight ****/
form li.highlighted, tr.highlighted
{
	background-color:#fff7c0;
}

form .guidelines
{
	background:#f5f5f5;
	border:1px solid #e6e6e6;
	color:#444;
	font-size:80%;
	left:100%;
	line-height:130%;
	margin:2em 0 0 8px;
	padding:8px 10px 9px;
	position:absolute;
	top:0;
	visibility:hidden;
	width:127%;
	z-index:1000;
}

form li.highlighted .guidelines
{
	visibility:visible;
}

form li:hover .guidelines
{
	visibility:visible;
}

/*** Tables ***/
form > table#tickets > tbody > tr > :nth-child(1),
form > table#tickets > tbody > tr > :nth-child(2),
form > table#tickets > tbody > tr > :nth-child(3),
form > table#tickets > tbody > tr > :nth-child(4),
form > table#tickets > tbody > tr > :nth-child(5)
{
	width:16px;
}

form > table#tickets > tbody > tr > :nth-child(7)
{
	width:7em;
	text-align:right;
}

form > table#tickets > tbody > tr > :nth-child(8)
{
	width:7em;
}

form > table#tickets > tbody > tr.file.comment
{
	vertical-align:top;
}

form > table#tickets > tbody > tr.file.comment > td
{
	border-bottom:1px dotted #ccc;
}

form > table#tickets > tbody > tr.file.alien
{
	background:#fafafa;
}

form > table#grants > tbody > tr > :nth-child(1),
form > table#grants > tbody > tr > :nth-child(2),
form > table#grants > tbody > tr > :nth-child(3)
{
	width:16px;
}

form > table#grants > tbody > tr > :nth-child(5),
form > table#grants > tbody > tr > :nth-child(6)
{
	width:7em;
}

form > table#grants > tbody > tr.file.comment
{
	vertical-align:top;
}

form > table#grants > tbody > tr.file.comment > td
{
	border-bottom:1px dotted #ccc;
}

form > table#grants > tbody > tr.file.alien
{
	background:#fafafa;
}

form > table#users > tbody > tr > :nth-child(3)
{
	width:15%;
}

form > table#users > tbody > tr > :nth-child(4)
{
	width:1%;
}

form > table#users > tbody > tr > :nth-child(5),
form > table#users > tbody > tr > :nth-child(6),
form > table#users > tbody > tr > :nth-child(7)
{
	text-align:right;
}

form > table#users > tbody > tr:last-child > td
{
	text-align:left;
}

/*** File info ***/
.fileinfo
{
	background:#f5f5f5;
	color:#444;
}

.fileinfo th
{
	vertical-align:top;
	text-align:right;
	border:none;
	width:45%;
}

.fileinfo td
{
	text-align:left;
}

/*** Comment ***/
tr.file td.filename
{
	cursor:pointer;
}

tr.file td.filename:hover
{
	text-decoration:underline;
}

tr.file span.comment
{
	color:#555;
}

tr.file.expanded span.comment
{
	display:none;
}

tr.file.comment td.comment
{
	white-space:pre-line;
}
